.addBoardWrapper {
  width: 100%;
  height: 100%;

  background-color: white;
}
.createBoard,
.nameOfBoard,
.addBoardWrapper {
  display: flex;
}
.addBoardWrapper {
  flex-direction: column;
  gap: 10px;
}
.nameOfBoard {
  flex-direction: column;
}
.nameOfBoard > div,
.createBoard,
.moveTask {
  flex-grow: 1;
}
.nameOfBoard > div {
  text-align: center;
}
.nameOfBoard {
  padding-right: 10px;
  width: 40%;
}
.nameOfBoard input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 0.3rem;
  border: 1.5px solid black;
}
.moveTask input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
}
.nameOfBoard input:focus,
.moveTask input:focus {
  outline: none;
  border-color: var(--color-primary-800);
}
.moveTask {
  border-left: 1px solid var(--text-inactive);
  padding-left: 10px;
}

.cancelBoardBtn {
  float: right;
  background-color: transparent;
  border: none;
}
.Done {
  color: white;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0.3rem;
  background-position: 1% 1%;
  float: left;
}
