.tkCard {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-secondary);
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
}
.tkCardFocus::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 162, 255, 0.089);
  border: 1px solid rgba(0, 162, 255, 0.312);
  border-radius: inherit;
}
.taskContent {
  flex-grow: 1;
}
.taskContent > .tags {
  margin-left: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 5px;
}
#TagsNControl {
  right: 0;
  position: absolute;
  padding: 20px;
  width: fit-content;
  display: flex;
  justify-content: end;
  align-items: end;
  height: 100%;
}
#TagsNControl > p {
  font-weight: var(--font-medium);
  border-radius: 2rem;
  padding: 5px 10px 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.in-progress {
  color: var(--color-primary-700);
  background-color: var(--color-primary-100);
}

.tkCard > div > p {
  font-family: var(--font-secondary);
  margin: 20px;
}
#innerTagNControl {
  align-items: center;
  column-gap: 20px;
  display: flex;
}
#buttonTask {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
#buttonTask > button {
  color: var(--color-gray-500);
  border: 0;
  background-color: var(--background-secondary);
  padding: 0;
}
.tags {
  display: flex;
  column-gap: 5px;
}
.tags > p {
  font-weight: var(--font-medium);
  border: 0;
  border-radius: 2rem;
  /* color: var(--color-error-700); */
  padding: 5px 10px 5px 10px;
  /* background-color: var(--color-error-50); */
}
.priority-high {
  background-color: var(--high-priority-bg) !important;
  color: var(--high-priority-text);
}

.priority-medium {
  background-color: var(--medium-priority-bg) !important;
  color: var(--medium-priority-text);
}

.priority-low {
  background-color: var(--low-priority-bg) !important;
  color: var(--low-priority-text);
}
.priority-high::before {
  background-color: var(--high-priority-text) !important;
}
.priority-medium::before {
  background-color: var(--medium-priority-text) !important;
}

.priority-low::before {
  background-color: var(--low-priority-text) !important;
}

.complete {
  background-color: var(--low-priority-bg);
  color: var(--low-priority-text);
}
.line-trough {
  text-decoration: line-through;
  color: var(--color-gray-500);
}
#edit:hover {
  color: rgb(37 99 235);
}
#edit svg:hover {
  fill: rgb(37 99 235);
}
#complete {
  aspect-ratio: 1/1;
  position: relative;
  width: fit-content;
  border-radius: 50%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#complete:hover {
  color: var(--low-priority-text);
  animation: pulse-custom 1.5s infinite;
}
#complete svg:hover {
  stroke: var(--color-success-500);
}
#delete:hover {
  color: var(--high-priority-text);
}
#delete svg:hover {
  fill: var(--color-error-500);
}
@keyframes pulse-custom {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 128, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 128, 0, 0.05);
  }
}
