.dateCard {
  position: relative;
  margin: 5px;
  width: 13.5%;
  aspect-ratio: 3 / 2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.041);
  text-align: center;
  background-color: white;
  border-radius: 0.5rem;
  font-size: var(--text-2xl);
  overflow: scroll;
}
.dateCard:hover {
  z-index: 1;
  scale: 2;
}
.disableDate {
  position: relative;
  margin: 5px;
  width: 13.5%;
  aspect-ratio: 3 / 2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.041);
  background-color: white;
  border-radius: 0.5rem;
  opacity: 0.8;
  border: 1px solid var(--border-color);
}
.dateCard::-webkit-scrollbar {
  display: none;
}

.dateCard > div {
  overflow: hidden;
}

.dayNdate {
  font-size: var(--text-day);
  display: flex;
  padding: 5px;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.previousDay {
  font-family: "Libre Franklin", serif !important;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.dayNdate > p:nth-child(2) {
  font-size: var(--text-date);
  font-family: var(--font-secondary);
  font-weight: var(--font-bold);
}
.dayNdate > p:nth-child(1) {
  font-weight: var(--font-normal);
}
.dayNdateHover {
  align-items: normal;
  flex-direction: row;
  justify-content: space-between;
}
.dayNdateHover > p {
  font-size: var(--text-day) !important;
}
.calendarTasks > div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 10px;
  position: relative;
  padding: 6px;
  display: flex;
  font-size: var(--text-task);
  background-color: rgba(0, 128, 0, 0.122);
  border-radius: 0.5em 0 0 0.5em;
  align-items: center;
}
.calendarTasks p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.calendarTasks > div::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 200px;
  background-color: green;
  z-index: 1;
  top: 0;
  right: 0;
  border-radius: 2em;
  height: 100%;
}
.calendarTasks > div > p {
  text-align: center;
}
.overDue {
  width: 100%;
  color: red;
}

.calendarTasks > div > input {
  height: 8px;
  background-color: rgba(0, 128, 0, 0.122);
  border-width: 1px;
}
.calendarTasks > div > input:checked {
  color: black;
}
.calendarTasks {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  width: 100%;
  top: 30%;
}
.background-task {
  background-color: aliceblue;
}
.clearTask {
  color: var(--color-success-500);
}
.remainTask {
  color: black;
}
.todayCard {
  width: fit-content;
  background: url(https://elements-resized.envatousercontent.com/elements-preview-images/fb6fe26f-190a-4008-8dae-f7e98a03cdc4?w=632&cf_fit=scale-down&q=85&format=auto&s=a37e24b13eba77d903df58871b17bab85799214378ee77071b7156baee33aac8);
  background-repeat: no-repeat;
  /* background-position: center; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: var(--font-max) !important;
  background-size: cover;
}

.warning {
  left: 0;
  width: 20px !important;
  height: inherit;
  background-color: red !important;
  color: white;

  text-align: center;
  border-radius: 0.5em 0 0 0.5em;

  font-weight: 900;
}
.sign {
  animation: warning 0.5s infinite;
}
@keyframes warning {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
#taskCardDive {
  padding-left: 0px;
}
