.calendar {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--background-primary);
  display: flex;
  flex-direction: column;
  left: 0;
  z-index: 1;
}
.calendar h2 {
  margin-left: 20px;
}
.controlCalendar {
  font-size: var(--text-2xl);
  width: 100%;
  margin-bottom: 20px;
}
.controlCalendar > div,
.dateCardContainer {
  display: flex;
  justify-content: center;
}
.controlCalendar > div {
  justify-content: space-evenly;
  column-gap: 10px;
}

.calendarDayContainer {
  width: 95%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.controlCalendar > div > p:nth-child(2n + 1) {
  cursor: pointer;
  user-select: none;
}
