.sideBarBtns {
  width: 90%;
  margin-right: auto;
}
.sideBarBtn {
  display: flex;
  position: relative;
  background-color: transparent;
  border-radius: 0.5rem;
  font-family: var(--font-primary);
  color: var(--text-inactive);
  border: 0;
  padding: 10px;
  font-size: var(--text-xl);
  width: 100%;
  font-weight: var(--font-medium);
  text-align: left;
  align-items: center;
}
.sideBarBtn:hover {
  background-color: var(--theme-color);
  color: var(--text-primary);
}
.activeTab {
  /* background-color: var(--color-gray-200); */
  color: var(--text-primary);
}
.Icon {
  scale: 1.2;
  width: 20%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.full-width {
  width: 100%;
}
