* {
  box-sizing: border-box;
  margin: 0;
}
body,
html,
#root {
  height: 100%;
}
#root {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.sideBar {
  height: 100%;
  position: fixed;
  padding-top: 12px;
  /* text-align: center; */
  background-color: var(--color-primary-50);
  font-weight: var(--font-bold);
  font-size: var(--text-2xl);
  /* box-shadow: 0 0 2px var(--shadow-color); */
}
.sideBarContainer {
  position: relative;
}

#logo {
  text-decoration: none;
  display: flex;
  font-family: var(--font-secondary);
  color: var(--text-primary);
  align-items: center;
}
#pageIndicator {
  font-size: var(--text-2xl);
  font-weight: var(--font-semibold);
}
#menuButton {
  width: 0px;
  visibility: hidden;
  position: absolute;
  color: var(--text-primary);
  border-radius: 0.25em;
  border: none;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--background-secondary);
}
.sideBar hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1.5px solid var(--color-gray-200);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
}
.content {
  flex-grow: 1;
}
.header {
  top: 0;
  z-index: 99;
  padding: 10px 15px 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary-50);
  /* border: 1px solid var(--border-color); */
}
.mobileAcControl {
  position: absolute;
  z-index: 99;
  background-color: white;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  padding: 10px;
  left: 50%;
  bottom: 15px;
  color: red;
  border-radius: 0.5rem;
  transform: translate(-50%);
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.129);
}
.mobileAcControl button {
  color: red;
  border: 0;
  background-color: transparent;
  width: 100%;
  text-align: left;
}
#searchBar {
  color: var(--text-inactive);
  /* margin-left: 5px; */
  position: relative;
  margin-left: 5px;
  position: relative;
}
#searchInput {
  position: relative;
  z-index: 99;
}
#searchResult {
  position: absolute;
  padding-top: 35px;

  background-color: var(--background-primary);
  width: 100%;
  z-index: 59;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.158);
  display: none;
}
#searchResult p {
  z-index: 99;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding: 10px 20px 10px 20px;
  justify-content: space-between;
}
#searchResult p:hover {
  background-color: var(--color-gray-200);
}
.searchFocus {
  box-shadow: 0px -1.5px 3px rgba(50, 50, 50, 0.158);
}
#searchBar svg {
  position: absolute;
  width: 20px;
  left: 90%;
  top: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
}
#searchBar input {
  color: var(--text-primary);
  font-size: var(--text-xl);
  padding: 20px 40px 20px 20px;
  border-radius: 0.5rem;
  width: 100%;
  height: 35px;
  border: 1px solid var(--border-color);
  background-color: var(--background-primary);

  border-radius: 100px;
}
#searchBar input:focus {
  outline: none;
}
.header > div {
  padding-right: 10px;
  display: flex;
  column-gap: 20px;
  justify-content: end;
  align-items: center;
}
.headerContent > div:nth-child(1) {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.notification {
  background-color: transparent;
  width: 40px;
  aspect-ratio: 1/1;
  border: 0;
  color: var(--color-primary-50);
  padding: 5px;
  border-radius: 100px;
  background-image: url("/image/bgGradient.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 39px;
}

.middleContent {
  z-index: 50;
  position: relative;
  height: 90%;
  border-radius: 1rem;
  background-color: white;

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.138);
  width: 99%;
  margin: 0 auto 0 auto;
  overflow: scroll;
  animation: appear-blur 1s;
}
.accountPanel {
  top: 70px;
  display: flex;
  flex-direction: column;
  right: 16px;
  position: absolute;
  width: 224px;
  border-radius: 1rem;
  z-index: 99;

  padding: 10px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.104);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.9px);
  -webkit-backdrop-filter: blur(17.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: appear 0.2s;
}
.accountPanel > button {
  padding: 10px;
  text-decoration: none;
  color: var(--color-gray-800);
  text-align: center;
  display: block;
  width: 100%;
  border: none;
  background: none;
}
.accountPanel > button:nth-child(3) {
  color: red;
}

.accountPanel > button:hover {
  text-decoration: underline;
  background-color: var(--background-tertiary);
}
.sideBarHeader {
  position: relative;
  display: flex;
}
.sideBarHeader button {
  background: var(--color-primary-50);
  border: 0;
  color: var(--color-inactive);
}
.closeNopenSidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  transform: translateX(50%);
  z-index: 1;
}
#sidebarCtrBtn {
  top: 50px;
  display: flex;
  width: 25px;
  aspect-ratio: 1/1;
  right: 2px;
  background-color: white;
  position: absolute;
  border: 0;
  background-color: var(--background-secondary);
  padding: 0;
  color: var(--color-primary-800);
  box-shadow: 0 0 12px var(--shadow-color);
  border-radius: 50%;
  z-index: 99;
  align-items: center;
  justify-content: center;
  animation: bounce 1.5s infinite alternate;
  display: none;
}

/* bouncing close sidebar */
/* .bouncingBtn {
  visibility: visible !important;
  animation: bounce 0.3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
} */

.vertical-line {
  --color: rgb(32, 201, 151);
  width: 2px;
  height: 100%;
  background-color: var(--color);
  visibility: hidden;
  box-shadow: 0 0 2px rgba(var(---color), 0.5);
}
.mobileAcc {
  width: 90%;
  border-radius: 5rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.333);
  padding: 5px;
  position: absolute;
  font-size: var(--text-lg);
  text-align: center;
  bottom: 10px;
  font-weight: var(--font-normal);
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%);
}
.mobileAcc {
  display: none;
}
.mobileAcc .account {
  flex-direction: row-reverse;
}
.mobileAcc .AccountNNotification {
  max-width: 75%;
  overflow: hidden;
}
.mobileAcc .userIdentity {
  text-align: left;
}
.mobileAcc .userIdentity > p {
  max-width: 70px;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mobileAcc .uaDiv {
  gap: 5px;
  width: 100%;
  justify-content: space-between;
}
.mobileAcc .uaDiv a {
  flex-grow: 1;
}

.mobileAcc .uaBtn {
  width: 100%;
  margin: 0;
}
.mobileAcc #login {
  background-color: rgb(233, 232, 232);
}
.dot {
  margin-right: 10px;
}
.popUpDiv {
  position: absolute;
  width: 95%;
  height: 90%;
  left: 50%;
  top: 50%;
  z-index: 50;
  border-radius: 0.5rem;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 5px var(--shadow-color);
}
#mouseMovement {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 40px 20px rgba(0, 255, 0, 0.5), 0 0 80px 40px rgba(0, 255, 0, 0.4), 0 0 120px 60px rgba(0, 255, 0, 0.3);
  background: rgb(99, 247, 136);
  box-shadow: 0 0 50px rgb(99, 247, 136);
  visibility: hidden;
}
