* {
  box-sizing: border-box;
  margin: 0;
}
body,
html,
#root {
  height: 100%;
}
#root {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.sideBar {
  height: 100%;
  position: fixed;
  padding-top: 12px;
  /* text-align: center; */
  background-color: var(--background-secondary);
  font-weight: var(--font-bold);
  font-size: var(--text-2xl);
  box-shadow: 0 0 5px var(--color-gray-200);
}
.sideBarContainer {
  position: relative;
}
#logo {
  text-decoration: none;
  display: flex;
  font-family: var(--font-secondary);
  color: var(--text-primary);
  align-items: center;
}
.sideBar hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1.5px solid var(--color-gray-200);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.content {
  flex-grow: 1;
}
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-secondary);
  /* border: 1px solid var(--border-color); */
}
.header > label {
  color: var(--color-gray-600);
  margin-left: 10px;
  position: relative;
}
.header > label::before {
  width: 30%;
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 0;
  width: 30px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22lucide%20lucide-search%22%3E%3Ccircle%20cx%3D%2211%22%20cy%3D%2211%22%20r%3D%228%22/%3E%3Cpath%20d%3D%22m21%2021-4.3-4.3%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.header input {
  font-size: var(--text-xl);
  padding-left: 40px;
  border-radius: 0.5rem;
  width: 100%;
  height: 45px;
  border: 1px solid var(--border-color);
}
.header > div {
  padding-right: 10px;
  display: flex;
  column-gap: 20px;
  justify-content: end;
  align-items: center;
}
.notification {
  background-color: transparent;
  border: 0;
  color: var(--color-gray-600);
}
.account {
  padding-right: 40px;
  column-gap: 10px;
  display: flex;
  align-items: center;
}
.account p {
  font-weight: var(--font-semibold);
  font-family: var(--font-secondary);
}
.profilePic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-primary-100);
  border-radius: 2rem;
}
.accountControl {
  column-gap: 5px;
  display: flex;
  align-items: center;
}
.accountControl > button {
  padding: 0;
  padding-top: 5px;
  border: 0;
  background-color: transparent;
}
.middleContent {
  padding: 20px;
  position: relative;
  height: 100%;
}
.accountPanel {
  top: 0;
  display: flex;
  flex-direction: column;
  right: 40px;
  position: absolute;
  width: 224px;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  height: 100px;
}
.accountPanel > a {
  padding: 10px;
  /* 
  padding-top: 10px;
  padding-bottom: 10px; */
  text-decoration: none;
  color: var(--color-gray-800);
  text-align: start;
  display: block;
  width: 100%;
}
.accountPanel > a:hover {
  text-decoration: underline;
  background-color: var(--background-tertiary);
}
.sideBarHeader {
  position: relative;
  padding-left: 10px;
}
.closeNopenSidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  transform: translateX(50%);
  z-index: 1;
}
#sidebarCtrBtn {
  top: 80px;
  display: flex;
  width: 30px;
  aspect-ratio: 1/1;
  right: 2px;
  background-color: white;
  position: absolute;
  border: 0;
  background-color: var(--background-secondary);
  padding: 0;
  color: gray;
  box-shadow: 0 0 12px var(--shadow-color);
  border-radius: 50%;
  z-index: 1;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

/* bouncing close sidebar */
.bouncingBtn {
  visibility: visible !important;
  animation: bounce 0.3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 20px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.vertical-line {
  --color: rgb(32, 201, 151);
  width: 2px;
  height: 100%;
  background-color: var(--color);
  visibility: hidden;
  box-shadow: 0 0 2px rgba(var(---color), 0.5);
}
footer {
  position: absolute;
  font-size: var(--text-lg);
  text-align: center;
  bottom: 0;
  color: var(--color-gray-400);
  font-weight: var(--font-normal);
}
