.calendar {
  width: 100%;
  height: 100%;
  /* background-color: var(--background-secondary); */
  display: flex;
  flex-direction: column;
}
.controlCalendar {
  font-size: var(--text-2xl);
  width: 100%;
  margin-bottom: 20px;
}
.controlCalendar > div,
.dateCardContainer {
  display: flex;
}
.controlCalendar > div {
  justify-content: center;
  column-gap: 10px;
}

.calendarDayContainer {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.controlCalendar > div > p:nth-child(2n + 1) {
  cursor: pointer;
}
