@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@font-face {
  font-family: "malin-sans";
  src: url("/fonts/marlin-sans/marlin-sans-medium.otf") format("opentype");
}
:root {
  /* Typography */
  --font-primary: "malin-sans", sans-serif;
  --font-secondary: "GeneralSans-Regular", serif;

  /* Font Sizes */

  --text-xs: 0.4rem; /* 9.6px */
  --text-sm: 0.7rem; /* 11.2px */
  --text-base: 0.8rem; /* 12.8px */
  --text-lg: 0.9rem; /* 14.4px */
  --text-xl: 1rem; /* 16px */
  --text-2xl: 1.2rem; /* 19.2px */
  --text-3xl: 1.5rem; /* 24px */
  --text-task: 0.4rem;
  --text-day: 0.7rem;
  --text-date: 3rem;

  /* Font Weights */
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-max: 1000;

  /* Light Theme Colors */
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #bae6fd;
  --color-primary-300: #7dd3fc;
  --color-primary-400: #38bdf8;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: rgb(30 64 175);
  --color-primary-800: #0969da;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-1000: #000000;
  --color-black-700: rgb(5 6 15 / 60%);

  --color-success-50: #f0fdf4;
  --color-success-500: #22c55e;
  --color-success-700: #15803d;

  --color-warning-50: #fffbeb;
  --color-warning-500: #f59e0b;
  --color-warning-700: #b45309;

  --color-error-50: #fef2f2;
  --color-error-500: #ef4444;
  --color-error-700: #b91c1c;

  /* Light Theme Semantic Colors */
  --background-primary: var(--color-gray-50);
  --background-secondary: white;
  --background-tertiary: var(--color-gray-100);

  --text-primary: var(--color-gray-1000);
  --text-secondary: var(--color-black-700);
  --text-tertiary: var(--color-gray-500);
  --text-inactive: #737373;

  --border-color: var(--color-gray-200);
  --shadow-color: rgba(0, 0, 0, 0.1);
  /* dashbaordBtn color */
  --notHover: var(--color-primary-600);
  --hover: white;
  --color-notHover: var(--color-primary-100);

  --high-priority-bg: rgba(254, 242, 242, 0.8); /* Light red, semi-transparent */
  --medium-priority-bg: rgba(255, 251, 230, 0.8); /* Light yellow, semi-transparent */
  --low-priority-bg: rgba(242, 246, 242, 0.8); /* Light green, semi-transparent */

  --high-priority-text: rgba(128, 0, 0, 0.8); /* Dark red, semi-transparent */
  --medium-priority-text: rgba(128, 104, 0, 0.8); /* Dark yellow, semi-transparent */
  --low-priority-text: rgba(0, 128, 0, 0.8); /* Dark green, semi-transparent */

  --theme-color: hsl(162, 73%, 70%);
}
.flex-centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dark Theme Colors */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #1e1e1e;
    --background-secondary: #2a2a2a;
    --background-tertiary: #3a3a3a;

    --border-color: #3a3a3a;

    --text-primary: white;
    --text-secondary: var(--color-gray-300);
    --text-tertiary: var(--color-gray-400);
    --text-inactive: #b1b1b3;

    --theme-color: hsl(162, 73%, 30%);
    --shadow-color: rgba(0, 0, 0, 0.3);

    --color-primary-800: #e0f2fe;
    --color-notHover: #0969da;

    --notHover: white;
    --hover: var(--color-primary-600);

    --high-priority-bg: rgba(128, 0, 0, 0.6); 
    --medium-priority-bg: rgba(128, 104, 0, 0.6);
    --low-priority-bg: rgba(0, 128, 0, 0.6);

    --high-priority-text: rgba(255, 100, 100, 0.9);
    --medium-priority-text: rgba(255, 215, 100, 0.9); 
    --low-priority-text: rgba(100, 255, 100, 0.9);
  }
} */
body {
  background-color: var(--color-primary-50);
  font-family: var(--font-primary);
  font-size: var(--text-base);
  font-weight: var(--font-normal);
  color: var(--text-primary);
}
body::-webkit-scrollbar,
.middleContent::-webkit-scrollbar {
  display: none;
}
.text-link {
  color: inherit;
  text-decoration: inherit;
}
.visible-none {
  position: absolute;
  scale: 0;
  width: 0;
  height: 0;
}
.visible-true {
  scale: 1;
  width: fit-content;
  height: fit-content;
}
.width-250 {
  min-width: 250px !important;
  width: 250px !important;
}
.width-60 {
  min-width: 60px !important;
  width: 60px !important;
}
/* @media (max-width: 768px) {
  .calendar {
    scale: 0.5;
  }
} */
.headerVerticalAlign {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}
.headerHorizontalAlign {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.backgroundBtn {
  background-image: url("/image/bgGradient.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400% auto;
}
.confirmAdd {
  background-size: auto;
}

@media (max-width: 1024px) {
  :root {
    --text-xs: 0.5rem; /* 8px */
    --text-sm: 0.6rem; /* 9.6px */
    --text-base: 0.7rem; /* 11.2px */
    --text-lg: 0.8rem; /* 12.8px */
    --text-xl: 0.9rem; /* 14.4px */
    --text-2xl: 1rem; /* 16px */
    --text-3xl: 1.2rem; /* 19.2px */
    --text-task: clamp(0.09rem, 1vh, 0.3rem);
    --text-day: clamp(0.1rem, 0.9vh, 0.5rem);
    --text-date: clamp(0.8rem, 5vh, 1.8rem);
  }
  .sideBarOpenBtn {
    display: none;
  }
}

@media (max-width: 768px) {
  :root {
    --text-xs: 0.45rem; /* 7.2px */
    --text-sm: 0.55rem; /* 8.8px */
    --text-base: 0.65rem; /* 10.4px */
    --text-lg: 0.75rem; /* 12px */
    --text-xl: 0.85rem; /* 13.6px */
    --text-2xl: 0.95rem; /* 15.2px */
    --text-3xl: 1.15rem; /* 18.4px */
  }
}

@media (max-width: 480px) {
  :root {
    --text-xs: 0.4rem; /* 6.4px */
    --text-sm: 0.5rem; /* 8px */
    --text-base: 0.6rem; /* 9.6px */
    --text-lg: 0.7rem; /* 11.2px */
    --text-xl: 0.8rem; /* 12.8px */
    --text-2xl: 0.9rem; /* 14.4px */
    --text-3xl: 1.1rem; /* 17.6px */
    --text-task: 0.9rem;
    --text-day: 1.2rem;
    --text-date: 3rem;
  }
  #taskCardDive {
    height: 25px;
  }
  #taskCardDive > input {
    margin: 0px 10px 0px 10px;
    height: inherit;
  }
  #menuButton {
    position: relative !important;
    width: fit-content !important;
    visibility: visible !important;
  }
  svg {
    width: 19px;
  }
  .AccountNNotification {
    padding-right: 0px !important;
    column-gap: 5px !important;
  }
  .account {
    padding-right: 10px !important;
    justify-content: end;
    flex-grow: 1;
  }
  .warning {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.slideInUP {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
@keyframes bounce {
  from {
    transform: translate3d(0, 20px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeOutLeft {
  animation-name: fadeOutLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
.horizontalShaking {
  animation: horizontal-shaking 1s;
}
@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.animate__bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
@-webkit-keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0) scaleY(5);
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0) scaleY(5);
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes appear-blur {
  from {
    opacity: 0.5;
    filter: blur(100%);
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    filter: blur(0%);
  }
}
