/* Mobile Screens */
@media (max-width: 1024px) {
  .sideBarContainer,
  .sideBar {
    width: 60px !important;
    min-width: 60px !important;
  }
  #TagsNControl {
    height: 100% !important;
    width: fit-content !important;
  }
}
@media (max-width: 480px) {
  .uaBtn {
    padding: 10px;
  }
  .uaDiv {
    column-gap: 10px !important;
  }
  .dateCard:hover {
    scale: unset !important;
  }
  .sideBarContainer,
  .sideBar {
    top: 0;
    position: fixed;
    width: 200px !important;
    transform: translateX(-100%);
    z-index: -1 !important;
    left: 0;
    height: 100%;
    transition: ease-in-out 0.5s;
  }
  .selectClass {
    padding-left: 10px !important;
    width: 90px !important;
  }
  .tags p {
    font-size: var(--text-sm) !important;
  }
  /* #innerTagNControl {

    flex-direction: column;
    align-items: end !important;
  } */
  #innerTagNControl svg {
    width: 15px;
  }
  .dateCardContainer {
    display: block !important;
  }
  .dateCardContainer > div {
    width: 100% !important;
  }
}
.hide {
  transform: translateX(-100%);
  z-index: -1 !important;
}
.show {
  transform: translateX(0%);
  z-index: 1 !important;
}
