h3 {
  font-weight: var(--font-medium);
}
.selectClass {
  box-shadow: 0 0 2px var(--shadow-color);
  width: 15%;
  border-radius: 0.5rem;
  height: 40px;
  border: 1px solid var(--border-color);
  margin-left: 5px;
  padding-left: 20px;
  font-size: var(--text-medium);
  background-color: var(--background-secondary);
  color: var(--text-primary);
}
.taskFilter {
  padding: 20px;
  padding-left: 0;
}
.taskFilter > select {
  min-width: 100px;
  height: 35px;
}
.tasksTabContent {
  position: relative;
  padding: 20px;
  padding-bottom: 20px;
  /* box-shadow: 0 0 2px var(--shadow-color); */
}
.tasksTabContent .noTasks {
  height: 100%;
}
.addTask {
  background-color: var(--background-tertiary);
  padding: 25px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  animation: pulse 0.5s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

.lastInput {
  display: flex;
  column-gap: 15px;
}
.lastInput > input {
  width: 85%;
}
#priorityChoice {
  width: 15%;
}
.addTaskInput {
  color: var(--text-primary);
  background-color: var(--background-secondary);
  border: 0;
  box-shadow: 0 0 2px var(--shadow-color);
  border-radius: 0.25rem;
  padding: 10px;
}
.addTask label {
  align-items: center;
  display: flex;
  border: 1px solid var(--border-color);
  flex-wrap: wrap;
  row-gap: 5px;
  box-shadow: 0 0 2px var(--shadow-color);
  border-radius: 0.25rem;
  padding: 10px;
}
.addTask label > input {
  box-shadow: none;
  border: 0;
  height: 70%;
}
.addBtnContainer {
  display: flex;
  gap: 5px;
  font-size: var(--text-sm);
}
.addBtnContainer input {
  color: white !important;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 0.5rem;
}
.addBtnContainer button:nth-child(2) {
  color: black;
  background-color: white;
  box-shadow: 0 0 2px var(--shadow-color);
  border: 1px solid var(--border-color);
  padding: 5px;
  border-radius: 0.5rem;
}

.viewControl,
.viewControl label {
  display: flex;
  gap: 5px;
}
.viewControl input {
  display: none;
}
.newBoardDiv {
  padding: 20px 0 20px 0;
}
.newBoardDiv button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--text-inactive);
}
.activeRadio {
  color: var(--color-primary-800);
}

#ttAddBtn:hover,
#ttAddBtn:active {
  background-color: var(--color-primary-800);
}
#style2 {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 20px; /* Set width to 15px */
  height: 23px; /* Set height to 15px */
  border: 0;
  cursor: pointer;
  box-shadow: none;
}

#style2::-webkit-color-swatch {
  border-radius: 50%;
  border: 0;
}

#style2::-moz-color-swatch {
  border-radius: 50%;
  border: 0;
}
.shakingInput {
  animation: shaking 0.5s;
}
.shakingInput:focus {
  outline-color: red;
}
.renderTaskDiv {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  align-items: stretch;
  gap: 5px;
}
.board {
  border-radius: 0.5rem;
  padding: 10px 15px 10px 15px;
  background-color: var(--background-primary);
  font-family: var(--font-secondary);
  font-weight: var(--font-bold);
}
.boardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--text-xl);
}
.boardHeader span {
  padding-left: 5px;
  color: var(--text-inactive);
}
.toDoTaskDiv {
  position: relative;
  flex-grow: 1;
  place-content: center;
}
.toDoTaskDiv input {
  width: 100%;
}
.sequenceTaskSearch {
  position: absolute;
  background-color: white;
  width: 100%;
  min-height: 100px;
  border-radius: 0 0 0.5rem 0.5rem;
}
.sequenceTaskSearch p {
  padding: 10px;
}
.sequenceTaskSearch p:hover {
  background-color: var(--color-gray-200);
  padding: 10px;
}
@keyframes shaking {
  10% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(5deg);
  }
}
